.wrapper {
 text-align: center;
}

button {
 margin-bottom: 20px;
 padding: 10px;
 border-radius: 30px;
 border: none;
 background-color: #770d29;
 color: white;

}

button:hover {
 background-color: red;
}


.grid-item {
 border: 1px solid black;
 text-align: center;
 font-size: 5rem;
 padding: 30px;

}

.board-container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 max-width: 500px;
 height: 500px;
 margin: auto;
}